<div id="filtreler">
    <select id="haftaSec" autocomplete="off">
        <option value="/">Hafta Seç</option>
          <% const allWeeks = [...Array(haftalar).keys()] %>
          <% allWeeks.forEach(hafta => { %>
            <% if (buHafta==hafta){ %>
              <option value= "/hafta/<%=hafta %>" selected %>><%= hafta %></option>
            <% } else {%>
              <option value= "/hafta/<%=hafta %>" %>><%= hafta %></option>
            <% } %>
          <% }) %>
    </select>
    <select id="yazarSec" autocomplete="off">
        <option value="/">Yazar Seç</option>
        <% if (yazarlar.length > 0) { %>
          <% yazarlar.forEach(yazar => { %>
            <% if (buYazar==yazar){ %>
              <option value= "/yazar/<%=yazar %>" selected%>><%= yazar %></option>
            <% } else {%>
              <option value= "/yazar/<%=yazar %>" %>><%= yazar %></option>
            <% } %>
          <% }) %>
        <% } %>
    </select>
    <button id="randomButton">Rastgele!</button>
</div>