<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<% kelimeler%>
<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Öneri Kelimeler</h2>
  <%=kelimeler[0].kelime%>, <%=kelimeler[1].kelime%>, <%=kelimeler[2].kelime%>.

  <div class="create-blog content">
    <form action="/uyeSayfa/gorev" method="POST">
      <label for="gorev">Hafta Görevi</label>
      <textarea type="text" id="gorev" name="gorev" required> </textarea>
      <button>Gönder</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>