<!-- htmllint preset="none" -->
<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <%if (mevcutMod==="Öykü Yazma"){%>
    <p>Şu an öykü yazma zamanı. Mevcut görev:<%=gorev%> </p>
  <%}else{%>
    <% if (yazarlar.filter(a=>a.katilim==="yazacak").length < 2) { %>
      <button style="margin-inline: auto;display:block;" onclick="tatilEt()">Haftayı Tatil Et</button>
    <% } %>
    <div class="create-blog">
      <form action="/uyeSayfa/gorev" method="POST">
        <label for="gorev">Hafta Görevi</label>
        <textarea type="text" id="gorev" name="gorev" required><%=gorev%> </textarea>
        <button style="margin-inline:auto;display:block;">Gönder</button>
      </form>
    </div>
  <%}%>
    <% if (yazarlar.length > 0) { %>
      <table style="margin-inline:auto;">
        <% yazarlar.forEach(yazar => { %>    
          <tr style = "text-decoration: 
          <%= !yazar.aktif ?  'line-through' : 'none' %>">
            <td>            
              <%=yazar.gercekAd %>
            </td>
            <% if (yazar.sekil === `okurYazar`) { %>
              <td><%=`%${Math.round(yazar.yorumYuzdesi*1000)/10}`%></td> 
            <% } else { %>  
              <td>Yorumcu değil</td> 
            <% } %>
            <td><%=yazar.katilim %></td>
            </tr>
        <% }) %>
      </table>
    <% } %>

    <%- include("./partials/footer.ejs") %>
</body>


<script defer> 

  function tatilEt(){   
    let confirmAction = confirm("Haftayı tatil etmek istediğine emin misin?");
    if (!confirmAction){return false;}
    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      }
    }

    fetch(`/uyeSayfa/haftaTatili`,putMethod)
      // .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

</script>
</html>