<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <%if (mevcutMod==="Öykü Yazma"){%>
    <p>Şu an öykü yazma zamanı. Mevcut görev:<%=gorev%> </p>
  <%}else{%>
    <div class="create-blog content">
      <form action="/uyeSayfa/gorev" method="POST">
        <label for="gorev">Hafta Görevi</label>
        <textarea type="text" id="gorev" name="gorev" required><%=gorev%> </textarea>
        <button>Gönder</button>
      </form>
    </div>
  <%}%>
  <%- include("./partials/footer.ejs") %>
</body>
</html>