<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <h1>Üye Sayfası</h1>
  <div id="uyeSayfaMain">    
    <div id="uyeSayfaContent">   
      <%- include("./partials/uyeStatus.ejs") %>
      <%- include("./partials/uyeTaahhut.ejs") %>
      <%- include("./partials/uyeOykuGonder.ejs") %>     
    </div>
      
      
    <div id="yorumYuzdesiKutusu">
      <div id="yorumYuzdesiSayisi">
        <%=`%${Math.round(currentUser.yorumYuzdesi*1000)/10}`%>
      </div>
      <div>
        Yorum Yüzdesi
      </div>
    </div>
  </div>


  <div>
    <h2>Yorumlanacak Öyküler</h2>
    <% if (yorumlar.length===0){%>
    <p>Şu an yorumlamanız gereken öykü bulunnmamaktadır.</p>
    <%}else{%>
      <table id="yorumTablosu" rules="all">
        <tr>
          <th>
            Öykü
          </th> 
          <th>
            Yorum?
          </th>
        </tr>
        <% yorumlar.forEach(oyku => { %>
          <tr >
            <td>
              <a href=<%=oyku.link %>>
                <%= oyku.baslik %>
              </a>
            <td>
              <input type="checkbox" class="yorumladimBox" data-yorumid="<%= oyku._id%>" autocomplete="off">
            </td>
          </tr>
        <% }) %>
      </table>
    <%}%>
    <h2>Onayınızı Bekleyen Yorumlar</h2>
    <% if (onaylar.length===0){%>
      <p>Şu an onaylamanız gereken öykü bulunnmamaktadır.</p>
      <%}else{%>
        <table id="yorumTablosu" rules="all">
          <tr>
            <th>
              Öykü
            </th> 
            <th>
              Onay?
            </th>
          </tr>
          <% onaylar.forEach(oyku => { %>
            <tr >
              <td>
                <a href=<%=oyku.link %>>
                  <%= oyku.baslik %>
                </a>
              <td>
                <input type="checkbox" class="onayladimBox" data-yorumid="<%= oyku._id%>" autocomplete="off">
              </td>
            </tr>
          <% }) %>
        </table>
      <%}%>
    <h2>Öyküleriniz</h2>
    <p><a href="../yazar/<%=currentUser.gercekAd%>" class="visibleLink">Buradan</a> erişebilirsiniz.</p>
  </div>
    
  <%- include("./partials/footer.ejs") %>

</body>


<script defer>
  const tarihMetni=document.getElementById(`tarihMetin`);    

  const gunler = ["Pazar","Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi"];

  const bugununTarihi = new Date();
  let gun = gunler[bugununTarihi.getDay()];
  // let gun = gunler[bugununTarihi.getMinutes()%7];

  tarihMetni.textContent= bugununTarihi.toLocaleString("tr-TR", {year: 'numeric', month: 'long', 
  day: 'numeric', hour: '2-digit', minute: '2-digit'})+`. Bugün ${gun}.`;

  const yorumYuzdeKutusu=document.getElementById("yorumYuzdesiSayisi");
  
  var yorumYuzdesi = <%= currentUser.yorumYuzdesi%>; 
  // var yorumYuzdesi = 0.72; 
  let yorumYuzdeKutusuDegerO=Math.max((Math.round(yorumYuzdesi*100)-60)/40,0);  

  // let yorumYuzdeKutusuDeger=1; 
  yorumYuzdeKutusu.style.color = `rgb(${200*(1-yorumYuzdeKutusuDegerO)}, ${200*(yorumYuzdeKutusuDegerO)}, 0)`;

  const yorumcekbokslari = document.querySelectorAll('.yorumladimBox');

  yorumcekbokslari.forEach((boks) => {
    boks.addEventListener('change', yorumladim);
  });

  const onaycekbokslari = document.querySelectorAll('.onayladimBox');

  onaycekbokslari.forEach((boks) => {
    boks.addEventListener('change', onayladim);
  });




  function yazcam(){
    
    const someData = {
      title: "katilim beyani",
      katilim : document.querySelector('input[name="katilim"]:checked').value
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }

    if (document.querySelector('input[name="katilim"]:checked').value==="yazacak"){
      document.getElementById("yazmaGostergesi").textContent="Bu hafta öykü yazacağınızı taahhüt ettiniz.";
    }else{
      document.getElementById("yazmaGostergesi").textContent="Bu hafta öykü yazmayacakmışsınız.";
    }

    fetch(`/uyeSayfa/yazcam`,putMethod)
      // .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

  function yorumladim(e){
    
    const someData = {
      title: "yorumlama beyani",
      yorumladim : e.target.checked
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }
    console.log(`/uyeSayfa/yorumladim/${e.target.dataset.yorumid}`)
    fetch(`/uyeSayfa/yorumladim/${e.target.dataset.yorumid}`,putMethod)
      .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

  function onayladim(e){
    
    const someData = {
      title: "onaylama beyani",
      onayladim : e.target.checked
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }
    console.log(`/uyeSayfa/onayladim/${e.target.dataset.yorumid}`)
    fetch(`/uyeSayfa/onayladim/${e.target.dataset.yorumid}`,putMethod)
      .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

</script>

</html>