<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div id="uyeHeader">
    <h1>Üye Sayfası</h1>
    <p id="tarihMetin"></p>
  </div>
  
  <div id="uyeSayfaMain">    
    <div id="uyeSayfaContent">   
      <%- include("./partials/uyeStatus.ejs") %> 
    </div>
      
      
    <div id="yorumYuzdesiKutusu">
      <div id="yorumYuzdesiSayisi">
        <%=`%${Math.round(currentUser.yorumYuzdesi*1000)/10}`%>
      </div>
      <div>
        Yorum Yüzdesi
      </div>
    </div>
  </div>


  <div>
    <h2>Yorumlanacak Öyküler</h2>
    <% if (yorumlar.length===0){%>
    <p>Şu an yorumlamanız gereken öykü bulunmamaktadır.</p>
    <%}else{%>
      <table id="yorumTablosu" rules="all">
        <tr>
          <th>
            Öykü
          </th> 
          <th>
            Yorum?
          </th>
        </tr>
        <% yorumlar.forEach(oyku => { %>
          <tr >
            <td>
              <a href=<%=oyku.link %>>
                <%= oyku.baslik %>
              </a>
            <td>
              <input type="checkbox" class="yorumladimBox" data-yorumid="<%= oyku._id%>" autocomplete="off" onchange="yorumladim()">
              <button data-yorumid="<%= oyku._id%>" autocomplete="off" class="tabloButonu" onclick="yorumladimOnay()">Gönder?</button>
            </td>
          </tr>
        <% }) %>
      </table>
    <%}%>
    <h2>Onayınızı Bekleyen Yorumlar</h2>
    <% if (onaylar.length===0){%>
      <p>Şu an onaylamanız gereken yorum bulunmamaktadır.</p>
      <%}else{%>
        <table id="yorumTablosu" rules="all">
          <tr>
            <th>
              Öykü
            </th> 
            <th>
              Yorumcu
            </th> 
            <th>
              Yeterli
            </th>
            <th>
              Yetersiz
            </th>
            <th >
              Onay
            </th>
          </tr>
          <% onaylar.forEach(oyku => { %>
            <tr >
              <td>
                <a href=<%=oyku.link %>>
                  <%= oyku.baslik %>
                </a>
              <td>
                <%= oyku.yorumcuIsim%>
              </td>
              <td style="text-align: center;">
                <input type="radio" id="onayladim"
                class="onayladimBox" name="onay" 
                data-yorumid="<%= oyku._id%>"
                 autocomplete="off" value="true"
                >
              </td>
              <td style="text-align: center;">
                <input type="radio" id="onaylamadim" 
                class="onaylamadimBox" name="onay" 
                data-yorumid="<%= oyku._id%>" 
                autocomplete="off" value="false">
              </td>
              <td>
                <button data-yorumid="<%= oyku._id%>"  autocomplete="off" class="tabloButonu" onclick="onayladimOnay()">Gönder?</button>
              </td>
            </tr>
          <% }) %>
        </table>
      <%}%>
    <h2>Öyküleriniz</h2>
    <p><a href="../yazar/<%=currentUser.gercekAd%>" class="visibleLink">Buradan</a> erişebilirsiniz.</p>
  </div>
    
  <%- include("./partials/footer.ejs") %>

</body>


<script defer>
  const tarihMetni=document.getElementById(`tarihMetin`);    

  // const gunler = ["Pazar","Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi"];

  const bugununTarihi = new Date();
  // let gun = gunler[bugununTarihi.getDay()];
  // let gun = gunler[bugununTarihi.getMinutes()%7];

  tarihMetni.textContent= bugununTarihi.toLocaleString("tr-TR", {year: 'numeric', month: 'long', 
  day: 'numeric', weekday: 'long', hour: '2-digit', minute: '2-digit'});

  const yorumYuzdeKutusu=document.getElementById("yorumYuzdesiSayisi");
  
  var yorumYuzdesi = <%= currentUser.yorumYuzdesi%>; 
  let yorumYuzdeKutusuDegerO=Math.max((Math.round(yorumYuzdesi*100)-60)/40,0);  
  yorumYuzdeKutusu.style.color = `rgb(${200*(1-yorumYuzdeKutusuDegerO)}, ${200*(yorumYuzdeKutusuDegerO)}, 0)`;

  const onaycekbokslari = document.querySelectorAll('.onayladimBox');

  onaycekbokslari.forEach((boks) => {
    boks.truth=true;
    boks.addEventListener('change', onayladim);
  });

  const onaylamacekbokslari = document.querySelectorAll('.onaylamadimBox');

  onaylamacekbokslari.forEach((boks) => {
    boks.truth=false;
    boks.addEventListener('change', onayladim);
  });


  function yazcam(){
    console.log(`aaa`);
    const someData = {
      title: "katilim beyani",
      katilim : document.querySelector('input[name="katilim"]:checked').value
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }

    if (document.querySelector('input[name="katilim"]:checked').value==="yazacak"){
      document.getElementById("yazmaGostergesi2").textContent="Bu hafta öykü yazacağınızı taahhüt ettiniz.";
    }else{
      document.getElementById("yazmaGostergesi2").textContent="Bu hafta öykü yazmayacakmışsınız.";
    }

    fetch(`/uyeSayfa/yazcam`,putMethod)
      // .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

  function yorumladim(){
    if(event.target.checked){
      event.target.nextElementSibling.style.visibility = "visible";
    }
    else
    {
      event.target.nextElementSibling.style.visibility = "hidden";
    }
  }
  function yorumladimOnay(){
    
    const someData = {
      title: "yorumlama beyani",
      yorumladim : true
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }
    console.log(`/uyeSayfa/yorumladim/${event.target.dataset.yorumid}`)
    fetch(`/uyeSayfa/yorumladim/${event.target.dataset.yorumid}`,putMethod)
      .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

  function onayladim(){
    document.querySelector(`button[data-yorumid='${event.target.dataset.yorumid}']`).style.visibility = "visible";
  }

  function onayladimOnay(){
    deger= document.querySelector('input[name="onay"]:checked').value;
    
    const someData = {
      title: "onaylama beyani",
      onayladim : deger
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }
    console.log(`/uyeSayfa/onayladim/${event.target.dataset.yorumid}`)
    fetch(`/uyeSayfa/onayladim/${event.target.dataset.yorumid}`,putMethod)
      .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

</script>

</html>