<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <h1>Üye Sayfası</h1>
  <div id="uyeSayfaMain">    
    <div id="uyeSayfaContent">      
      <div>
        <span id="tarihMetin"></span>
        <span><%=mevcutMod %>
        </span>
      </div>    
   
        <% switch (currentUser.katilim) {
          case "yazacak": %>
          <div id="yazmaGostergesi" >Bu hafta öykü yazacağınızı vaad ettiniz.</div>
        <% break;
          case "yazmayacak": %>
          <div id="yazmaGostergesi" >Bu hafta öykü yazmayacakmışsınız.</div>
        <% break;
          case "yazdi": %>
          <div>Bu haftaki öykünüzü yolladınız.</div>
        <% break;
        default:
        break; } %>    
       
        <% if(!currentUser.aktif){%>
          <div>Atılan bir üyesiniz. Şu an bunu görüyorsanız sitemizin yapımı bitmemiş demektir.</div>
        <% } else { %>
          <div>Aktif bir üyesiniz. </div>
        <% } %>
        
     
      <%# if (mevcutMod==="Taahhüt"){ %>
        <div id="taahhutKutusu">
          Bu hafta öykü yazacak mısınız?
          <form class="switch-field">
            <input type="radio" id="radio-one" name="katilim" value="yazacak" onchange="yazcam()"
            <% if (currentUser.katilim==="yazacak"){%> checked <%} %>/> 
            <label for="radio-one">Evet</label>
            <input type="radio" id="radio-two" name="katilim" value="yazmayacak" onchange="yazcam()"
            <% if (currentUser.katilim==="yazmayacak"){%> checked <%} %>/> 
            <label for="radio-two">Hayır</label>
          </form>
          <% if (yazarlar.length > 0) { 
            const yazarList=yazarlar.map(function(elem){return elem.gercekAd;}).join(`, `)%>
            <p> Yazacaklar: <%=yazarList%>.</p>
            <% }else{ %>
              İlk yazan siz olacaksınız.
            <%}%>
        </div>
      <%#} %>

     <%if (mevcutMod==="Öykü Yazma"){%>
      <% switch (currentUser.katilim) {
        case "yazacak": %>
      <div id="oykuKutusu">
        <h3>Bu Haftanın Görevi</h3>
        <p><%= gorev%></p>
        
        <div class="create-blog content">
          <form action="/oykuler/" method="POST">
            <label for="baslik">Başlık</label>
            <input type="text" id="baslik" name="baslik" required>
            <label for="link">Link</label>
            <input type="text" id="link" name="link" required>
            <button>Gönder</button>
          </form>
        </div>
      </div>
      <% break;
        case "yazmayacak": %>
        <div id="yazmaGostergesi" >Öykü yazmayı taahhüt etmediniz.</div>
      <% break;
      default:
      break; } %>   
    <% } %>
      
    </div >
      
    <div id="yorumYuzdesiKutusu">
      <div id="yorumYuzdesiSayisi">
        <%=`%${Math.round(currentUser.yorumYuzdesi*1000)/10}`%>
      </div>
      <div>
        Yorum Yüzdesi
      </div>
    </div>
  </div>

  <div>
    <h2>Yorumlanacak Öyküler</h2>
    <p>Burada yorumlamaktan sorumlu olduğunuz öyküler görünecek.</p>
    <h2>Öyküleriniz</h2>
    <p><a href="../yazar/<%=currentUser.gercekAd%>" class="visibleLink">Buradan</a> erişebilirsiniz.</p>
  </div>
    
  <%- include("./partials/footer.ejs") %>

</body>


<script defer>
  const tarihMetni=document.getElementById(`tarihMetin`);    

  const gunler = ["Pazar","Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi"];

  const bugununTarihi = new Date();
  let gun = gunler[bugununTarihi.getDay()];
  // let gun = gunler[bugununTarihi.getMinutes()%7];

  tarihMetni.textContent= bugununTarihi.toLocaleString("tr-TR", {year: 'numeric', month: 'long', 
  day: 'numeric', hour: '2-digit', minute: '2-digit'})+`. Bugün ${gun}.`;

  const yorumYuzdeKutusu=document.getElementById("yorumYuzdesiSayisi");
  
  var yorumYuzdesi = <%= currentUser.yorumYuzdesi%>; 
  // var yorumYuzdesi = 0.72; 
  let yorumYuzdeKutusuDegerO=Math.max((Math.round(yorumYuzdesi*100)-60)/40,0);  

  // let yorumYuzdeKutusuDeger=1; 
  yorumYuzdeKutusu.style.color = `rgb(${200*(1-yorumYuzdeKutusuDegerO)}, ${200*(yorumYuzdeKutusuDegerO)}, 0)`;




  function yazcam(){
    
    const someData = {
      title: "katilim beyani",
      katilim : document.querySelector('input[name="katilim"]:checked').value
    }    

    const putMethod = {
      method: 'PUT', // Method itself
      headers: {
        'Content-type': 'application/json  ; charset=UTF-8' // Indicates the content 
      },
      body: JSON.stringify(someData)
    }

    if (document.querySelector('input[name="katilim"]:checked').value==="yazacak"){
      document.getElementById("yazmaGostergesi").textContent="Bu hafta öykü yazacağınızı taahhüt ettiniz.";
    }else{
      document.getElementById("yazmaGostergesi").textContent="Bu hafta öykü yazmayacakmışsınız.";
    }

    fetch(`/uyeSayfa/yazcam`,putMethod)
      // .then(() =>location.reload())
      .catch(err => console.log(err)); // Do something with the error
  }

</script>

</html>